.Appdesc {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 75px; 
    font-style: italic;
    font-size: 20px;
    padding-bottom: 50px;
}

.cards{
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-style: italic;
    font-size: 18px;
}

.card1 {
    float: left;
    border: 1px solid black;
    width: 200px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}

.card2 {
    float: center;
    border: 1px solid black;
    width: 200px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}

.card3 {
    float: right;
    border: 1px solid black;
    width: 200px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}

footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
   text-align: center;
   border-top: 1px solid black;
   font-style: italic;
}

@media (max-width: 320px) {
    .Appdesc{
      font-size: 17px;
      min-width: 80%;
      margin: 10px;
      margin-left: 25px;
      float: center;
    }
  }