.Appdesc {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 75px; 
    font-style: italic;
    font-size: 20px;
    padding-bottom: 50px;
}

.cards{
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-style: italic;
    font-size: 18px;
}

.card1 {
    float: left;
    border: 1px solid black;
    width: 200px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(243,254,255,1) 0%, rgba(0,212,255,1) 100%);; 
    padding: 15px;
    border-radius: 30px;
    box-shadow: 5px 10px 8px #888888;
}

.card2 {
    float: center;
    border: 1px solid black;
    width: 200px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(243,254,255,1) 0%, rgba(0,212,255,1) 100%);; 
    padding: 15px;
    border-radius: 30px;
    box-shadow: 5px 10px 8px #888888;
}

.card3 {
    float: right;
    border: 1px solid black;
    width: 200px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(243,254,255,1) 0%, rgba(0,212,255,1) 100%);; 
    padding: 15px;
    border-radius: 30px;
    box-shadow: 5px 10px 8px #888888;
}

footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(243,254,255,1) 0%, rgba(0,212,255,1) 100%);; 
   color: rgb(0, 0, 0);
   text-align: center;
   border-top: 2px solid black;
   font-style: italic;
}

@media (max-width: 320px) {
    .Appdesc{
      font-size: 17px;
      min-width: 80%;
      margin: 10px;
      margin-left: 25px;
      float: center;
    }
  }