.projectLink2 {
    text-decoration: none;
    float: right;
    padding: 15px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-style: italic;  
    border-right: 2px solid rgb(0, 0, 0);
}

.projectLink1:hover {
    color: green;
}

.projectLink2:hover {
    color: green;
}

.left {
    float: left; 
    font-size: 26px; 
    font-style: italic;
    padding-top: 10px;
    padding-left: 10px;
}

.projectLink1 {
    text-decoration: none;
    float: right;
    padding: 15px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-style: italic;  
}

.navBar{
    color: rgb(0, 0, 0);
    height: 55px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(243,254,255,1) 0%, rgba(0,212,255,1) 100%);; 
    border-bottom: 2px solid black;
    min-width: 100%;
}

.icon {
    float:left;
    color: green;
    font-size:45px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
}

@media (max-width: 420px) {
    .left{
        font-size: 17px;
    }
    .projectLink1{
        font-size:15px;
        padding: 8px;
    }
    .projectLink2{
        font-size:15px;
        padding: 8px;
        border-right: none;
    }
    .icon{
        font-size: 40px;
    }
  }
