.projectLink2 {
    text-decoration: none;
    float: right;
    padding: 15px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-style: italic;  
    border-right: 1px solid rgb(0, 0, 0);
}

.projectLink1:hover {
    color: green;
}

.projectLink2:hover {
    color: green;
}

.left {
    float: left; 
    font-size: 26px; 
    font-style: italic;
    padding-top: 10px;
    padding-left: 10px;
}

.projectLink1 {
    text-decoration: none;
    float: right;
    padding: 15px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-style: italic;  
}

.navBar{
    color: rgb(0, 0, 0);
    height: 55px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
    min-width: 100%;
}

.icon {
    float:left;
    color: green;
    font-size:45px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
}

@media (max-width: 320px) {
    .left{
        font-size: 17px;
    }
    .projectLink1{
        font-size:14px;
    }
    .projectLink2{
        font-size:14px;
    }
    .icon{
        font-size: 40px;
    }
  }
