.projectLink2 {
    text-decoration:none;
    float:right;
    padding:15px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-style: italic;  
    border-right: 1px solid rgb(0, 0, 0);
}

.left {
    float:left; 
    font-size: 23px; 
    font-style: italic;
    padding-top: 10px;
    padding-left: 10px;
}

.projectLink1 {
    text-decoration:none;
    float:right;
    padding:15px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-style: italic;  
}

.navBar{
    color: rgb(0, 0, 0);
    height: 55px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
    min-width: 100%;
}


@media (min-width: 320px) {
    .left{
        font-size: 15px;
    }
    .projectlink1{
        font-size:13px;
    }
    .projectlink2{
        font-size:13px;
    }
  }
